SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05dc", ATTRS{manufacturer}=="mulabs.org", ATTRS{product}=="TinyIO", MODE="0660", GROUP="users"

